<h1>Create New Event</h1>

<form (submit)="submit()" class="form">
  <div class="form-group">
    <label>Name</label>
    <input name="name" [(ngModel)]="event.name" class="form-control" />
  </div>

  <div class="form-group">
    <label>Start</label>
    <input type="datetime" name="start" [(ngModel)]="event.start" class="form-control" />
  </div>

  <div class="form-group">
    <label>End</label>
    <input type="datetime" name="end" [(ngModel)]="event.end" class="form-control" />
  </div>

  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="allday" [(ngModel)]="event.allDay" />
    <label class="form-check-label">All Day</label>
  </div>

  <button type="submit" class="btn btn-primary">Create</button>
</form>
