<h1>Create New Event</h1>

<form (submit)="submit()">
  <div class="form-group">
    <label for="name">Name</label>
    <input id="name" name="name" [(ngModel)]="event.name" class="form-control" />
  </div>

  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="start">Start</label>
        <input id="start" type="datetime-local" name="start" [(ngModel)]="event.start" class="form-control" />
      </div>
    </div>

    <div class="col">
      <div class="form-group">
        <label for="end">End</label>
        <input id="end" name="end" type="datetime-local" [(ngModel)]="event.end" class="form-control" />
      </div>
    </div>
  </div>

  <div class="form-check mb-3">
    <input id="allday" name="allday" type="checkbox" [(ngModel)]="event.allDay" class="form-check-input" />
    <label for="allday" class="form-check-label">All Day</label>
  </div>

  <button type="submit" class="btn btn-primary">Create</button>
  <a routerLink=".." class="btn btn-outline-primary">Cancel</a>
</form>
