<h1>Event</h1>

<p *ngIf="!event">Loading &hellip;</p>

<div *ngIf="event">
  <div class="mb-3">
    <a routerLink="edit" class="btn btn-primary">Edit</a>
  </div>

  <dl>
    <dt>Id</dt>
    <dd>{{ event.id }}</dd>

    <dt>Name</dt>
    <dd>{{ event.name }}</dd>

    <dt>Start</dt>
    <dd>{{ event.start }}</dd>

    <dt>End</dt>
    <dd>{{ event.end }}</dd>

    <dt>All Day</dt>
    <dd>{{ event.allDay }}</dd>

    <dt>Deleted</dt>
    <dd>{{ event.deleted }}</dd>
  </dl>

  <image-upload [eventid]="event.id"></image-upload>
</div>
