<h1>Event</h1>

<p *ngIf="!event">Loading &hellip;</p>

<div *ngIf="event">
  <div class="mb-3">
    <a routerLink="edit" class="btn btn-primary">Edit</a>
  </div>

  <dl>
    <dt>Id</dt>
    <dd>{{ event.id }}</dd>

    <dt>Name</dt>
    <dd>{{ event.name }}</dd>

    <dt>Start</dt>
    <dd>{{ event.start }}</dd>

    <dt>End</dt>
    <dd>{{ event.end }}</dd>

    <dt>All Day</dt>
    <dd>{{ event.allDay }}</dd>

    <dt>Deleted</dt>
    <dd>{{ event.deleted }}</dd>

    <dt>Attendance</dt>
    <dd>
      <event-attendance [eventId]="event.id" [attendance]="event.attendance"></event-attendance>
    </dd>

    <dt>Reports</dt>
    <dd>
      <a *ngFor="let report of event.reports" class="d-block" [routerLink]="['/reports', report.id]">{{ report.title }}</a>

      <a class="btn btn-secondary" [routerLink]="['/reports/create', {event: event.id}]">Add new report</a>
    </dd>

    <dt>Images</dt>
    <dd>
      <figure *ngFor="let image of event.images">
        <img [src]="imageUrl(image.id)">
        <figcaption>{{ image.displayName }}</figcaption>
        <input type="button" class="btn btn-danger" value="Delete" (click)="delete(image)" />
      </figure>
    </dd>
  </dl>

  <image-upload [eventid]="event.id" (uploaded)="imageUploaded()"></image-upload>
</div>
