/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";

.spinner {
  display: inline-block;
  width: 5rem;
  height: 5rem;
}

.spinner::after {
  content: " ";
  display: block;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 3px solid $blue;
  border-color: transparent $blue $blue $blue;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
