<h1>Member</h1>

<p *ngIf="!member">Loading &hellip;</p>

<div *ngIf="member">
  <div class="mb-3">
    <a routerLink="edit" class="btn btn-primary">Edit</a>
  </div>

  <dl>
    <dt>Id</dt>
    <dd>{{ member.id }}</dd>

    <dt>First Name</dt>
    <dd>{{ member.firstName }}</dd>

    <dt>Surname</dt>
    <dd>{{ member.surname }}</dd>

    <dt>Alias</dt>
    <dd>{{ member.alias }}</dd>

    <dt>Email</dt>
    <dd>{{ member.email }}</dd>

    <dt>Joined</dt>
    <dd>{{ member.joined | date:"medium" }}</dd>

    <dt>Invested</dt>
    <dd>{{ member.invested | date:"medium" }}</dd>

    <dt>Left</dt>
    <dd>{{ member.left | date:"medium" }}</dd>
  </dl>
</div>
