.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
  
  @supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
      position: -webkit-sticky;
      position: sticky;
    }
  }
  
  .sidebar .nav-link {
    font-weight: 500;
    color: #333;
  }
  
  .sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
  }
  
  .sidebar .nav-link.active {
    color: #007bff;
  }
  
  .sidebar .nav-link:hover .feather,
  .sidebar .nav-link.active .feather {
    color: inherit;
  }
  
  .sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
  }
  

/* /li .glyphicon {
    margin-right: 10px;
} */

/* Highlighting rules for nav menu items */
/* li.link-active a,
li.link-active a:hover,
li.link-active a:focus {
    background-color: #4189C7;
    color: white;
} */

/* Keep the nav menu independent of scrolling and on top of other items */
/* .main-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
} */

/* @media (min-width: 576px) { */
    /* On small screens, convert the nav menu to a vertical sidebar */
    /* .main-nav {
        height: 100%;
        width: calc(25% - 20px);
    }
    .navbar {
        border-radius: 0px;
        border-width: 0px;
        height: 100%;

        flex-direction: column;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: flex-start;
    }
    .navbar-header {
        float: none;
    }

    .navbar-toggler {
      display: none;
    }

    .navbar-collapse {
        border-top: 1px solid #444;
        padding: 0px;

        flex-direction: column;
        flex-basis: auto;
    }

    .navbar-nav {
      flex-direction: column;
    }

    .collapse {
      display: block;
    }

    .navbar ul {
        float: none;
    }
    .navbar li {
        float: none;
        font-size: 15px;
        margin: 6px;
    }
    .navbar li a {
        padding: 10px 16px;
        border-radius: 4px;
    }
    .navbar a { */
        /* If a menu item's text is too long, truncate it */
        /* width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
} */
